version: 1
metadata:
  name: nextcloud-oidc-setup
  labels:
    blueprints.goauthentik.io/description: "Nextcloud OIDC provider og application"
entries:
  - model: authentik_providers_oauth2.oauth2provider
    state: present
    id: nextcloud-provider
    identifiers:
      name: nextcloud-provider
    attrs:
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
      invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
      client_type: confidential
      client_id: !Env [AUTHENTIK_NEXTCLOUD_OIDC_CLIENT_ID, ""]
      client_secret: !Env [AUTHENTIK_NEXTCLOUD_OIDC_CLIENT_SECRET, ""]
      redirect_uris:
        - url: "https://{{ nextcloud_domain }}/apps/user_oidc/code"
          matching_mode: strict
        - url: "https://{{ nextcloud_domain }}/index.php/apps/user_oidc/code"
          matching_mode: strict
      signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]
      sub_mode: user_uuid
      include_claims_in_id_token: true
      backchannel_logout_url: "https://{{ nextcloud_domain }}/index.php/apps/user_oidc/backchannel-logout/authentik"
      backchannel_logout_session_required: true
      property_mappings:
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]

  - model: authentik_core.application
    state: present
    identifiers:
      slug: nextcloud
    attrs:
      name: Nextcloud
      provider: !KeyOf nextcloud-provider
      policy_engine_mode: any
